/* Estilo para Tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
  .graph-services:after {
    content: "";
    background: transparent;
    z-index: -1;
  }

  .footer-redes ul li {
    display: inline-block;
    margin-top: 5px;
  }

  .footer-redes ul li a img {
    width: 50px;
    height: 50px;
  }
}

/* Estilo para Mobile */
@media only screen and (max-width: 787px) {
  /* Header */
  .header {
    position: relative;
    height: 220px;
  }

  .header img {
    margin: 0 auto 20px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 0px 5px 5px 0px;
  }

  .header_menu ul li a {
    color: #3b3125;
    border: 2px solid #3b3125;
    width: 136px;
    display: block;
    float: left;
  }

  .header_menu ul li a:hover {
    border-color: #ee9059;
  }
  /* Conheça Nosso Projeto*/
  .photos-project {
    padding: 30px 0 30px 0;
  }

  .photos-project-list li img:last-child {
   width: 460px;
   height: 180px;
  } 

  /* Quote*/

  .quote-bg-footer {
    margin-top: 0px;
    height: 160px;
    padding-top: 0px;
  }

  .quote-bg-footer blockquote {
    text-rendering: optimizeLegibility;
    font-size: 12px;
  }


  /* Introdução */

  .introduction {
    margin-top: 0px;
    padding-top: 20px;
  }

  .introduction-doar {
    background: url("../img/bg-doar.png") no-repeat left;
    margin-top: 0px;
    padding-top: 20px;
  }

  .introduction-adotar {
    background: url("../img/bg-adote.png") no-repeat center;
    margin-top: 0px;
    padding-top: 20px;
  }

  .introduction-ajudar {
    background: url("../img/bg-ajudar.png") no-repeat center;
    margin-top: 0px;
    padding-top: 20px;
  }

  .introduction-internal h1 {
    margin-top: 80px;
  }

  .graph-services:after {
    content: "";
    background: transparent;
    z-index: -1;
  }

  .form-quero-adotar {
    padding-left: 0;
    padding-right: 0px;
  }

  /* Footer Mobile */

  .footer {
    padding: 10px;
  }

  .footer h3 {
    font-size: 14px;
  }

  .footer p {
    font-size: 9px;
  }

  .footer h3:after {
    width: 40px;
  }

  .footer-cuidamiau p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .footer-cuidamiau .button {
    font-size: 14px;
    padding: 10px 25px;
  }

  .footer-contato ul li {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .footer-contato ul li:first-child {
    margin-top: 5px;
  }
  
  .footer-redes ul li {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .footer-redes ul li a img {
    width: 40px;
    height: 40px;
  }

  .copyright {
    height: 30px;
    padding: 10px;
  }
  
  .copyright div p {
    font-size: 9px;
  }

}
